*{
	padding: 0px;
	box-sizing: border-box;
	margin: 0px;
}

#footer{
	width: 100%;
	display: flex;
	row-gap:  25px;
	flex-wrap: wrap;
	height: fit-content;
	align-items: center;
	background-color: #222222;
	justify-content: space-around;
}

.slots{
	width: 30%;
	height: 50vh;
	min-width: 305px;
	color: white;
}

.slots:first-child{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: fit-content;
	justify-content: center;
}

#name{
	width: 100%;
	height: 15%;
	display: flex;
	padding: 10px;
	font-size: 3vh;
	letter-spacing: 3px;
	align-items: center;
	border-left: 5px solid #1985e3;
	font-family: 'Alata', sans-serif;
}

#phrase{
	padding: 20px 10px;
    font-family: 'Comfortaa', cursive;
}

.slot-heading{
	width: 100%;
	height: 17%;
	display: flex;
	padding:15px ;
	letter-spacing: 2px;
	align-items: center;
	border-left: 5px solid #1985e3;
	font-family: 'Alata', sans-serif;


}

.slot-content{
	width: 100%;
	height: 83%;
	display: flex;
	padding: 20px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
    font-family: 'Alata', sans-serif;
}

#social-icons{
	width: 100%;
	height: 60px;
	display: flex;
	padding: 10px;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: center;
	justify-content: space-around;
}

.icon{
	width: 40px;
	height: 40px;
	padding: 8px;
	cursor: pointer;
	font-size: 25px;
	border-radius: 50%;
	transition: .3s;
	background-color: #1a1919;
}

.icon:hover{
	color: #1985e3;
}

.slot-content iframe{
	height: 100%;
}
