/*
font-family: 'Comfortaa', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
*/

*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

:root{
	--display: 'block';
	--left: 25%;
	--right: 25%;
	--bottom: -10px;
	--content: "";
	--backgroud: "";
}

@font-face{
	font-family: InsaniBC;
	src: local(InsaniBC),
	url('../../fonts/insanibc.ttf');
}


#login-page-outer-wrapper{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#login-page-inner-wrapper{
	width: 100%;
	height: 100%;
	display: flex;
	max-width: 2000px;
	max-height: 1500px;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(to right, white 50%, #1a1a1a 50%);
}




















/* log-reg-container styling starts */

#log-reg-container{
	width: 75%;
	height: 80%;
	display: flex;
	overflow: hidden;
	background-color: white;
}

#LR-left-section{
	width: 50%;
	height: 100%;
	transition: .5s;
	background-color: #1a1a1a;
}

.illusn-container{
	width: 100%;
	height: 100%;
}

#LR-right-section{
	width: 50%;
	height: 100%;
	transition: .5s;
	transform: translateY(-100%);
}

.acc-container{
	width: 100%;
	height: 100%;
	background-color: #1a1a1a;
}

.LR-left-section-avatar{
	width: 100%;
	height: 25%;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	border: 1px solid white;
}

.LR-left-section-avatar::before{
	content: var(--content);
	left: var(--left);
	width: 35px;
	height: 20px;
	transition: .5s;
	position: absolute;
	border-radius: 50%;
	bottom: var(--bottom);
	display: var(--display);
	background-image: var(--backgroud);
	background-repeat: no-repeat;
	background-color: #865a40;
}

.LR-left-section-avatar::after{
	content: var(--content);
	width: 35px;
	height: 20px;
	transition: .5s;
	position: absolute;
	border-radius: 50%;
	right: var(--right);
	bottom: var(--bottom);
	display: var(--display);
	transform: rotateY(180deg);
	background-color: #865a40;	
}


.LR-left-section-inputs{
	width: 100%;
	height: 60%;
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
	align-content: center;
	justify-content: center;
}

.user-reg-input{
	width: 80%;
	border: none;
	height: 45px;
	padding: 10px;
	outline: none;
	color: #262626;
	font-weight: 700;
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
}

.submit-button-section{
	width: 100%;
	height: 15%;
	display: flex;
	color: #007dfe;
	flex-wrap: wrap;
	font-weight: 400;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	font-family: 'Montserrat', sans-serif;
}

.submit-button-section p:hover{
	cursor: pointer;
	color: #95befe;
}

.submit-button-section button{
	border: none;
	display: flex;
	color: #262626;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 700;
	padding: 10px 25px;
	align-items: center;
	column-gap: 10px;
	font-family: 'Montserrat', sans-serif;
}

.submit-button-section button img{
	width: 30%;
	height: 100%;
	display: none;
}


#LR-right-section-heading{
	width: 100%;
	height: 15%;
	display: flex;
	font-size: 2rem;
	letter-spacing: 2px;
	align-items: center;
	font-family: InsaniBC;
	justify-content: center;
}

#LR-right-section-image{
	width: 100%;
	height: 85%;
}

#LR-right-section-image img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* log-reg-container styling ends */


















#message-section{
	width: 30%;
	top: 20px;
	right: 25px;
	display: flex;
	height: fit-content;
	position: absolute;
	border-radius: 5px;
	transition: .5s ease-in-out;
	transform: translateY(-130%);
	background-color: #d92f32;
}

#message-section-icon{
	width: 15%;
	color: white;
	display: flex;
	font-size: 2rem;
	align-items: center;
	justify-content: center;
}

#message-section-text{
	width: 85%;
	color: white;
	display: flex;
	min-height: 70px;
	font-weight: 700;
	font-size: 1.1rem;
	align-items: center;
	height: fit-content;
	font-family: 'Poppins', sans-serif;
}














@media screen and (max-width: 800px){
	#LR-left-section{
		width: 100%;
		background-image: linear-gradient(to right, #1a1a1a 50%, white 50%);
	}

	.user-reg-input{
		border: 1px solid;
		border-image: linear-gradient(to right, #1a1a1a 50% white 50%);
	}

	#LR-right-section{
		display: none;
	}

	.submit-button-section button{
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	}
}