*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

@font-face{
	font-family: InsaniBC;
	src: local(InsaniBC),
	url('../../fonts/insanibc.ttf');
}

body{
	background-color: #1a1a1a;
}

#services{
	width: 100%;
	height: 100vh;
	row-gap: 20px;
	display: flex;
	margin: 50px 0px;
	align-items: center;
	justify-content: center;
	background-color: #1a1a1a;
}

#left-container{
	min-width: 355px;
	width: 30%;
	height: 100%;
	background-color: #f6f6f6;
}

#text-content{
	gap:  0px;
	width: 100%;
	height: 35%;
	display: flex;
	color: #222222;
	flex-wrap: wrap;
	text-align: center;
	align-items: center;
	align-content: flex-end;
	font-family: InsaniBC;
}

#text-content h1{
	width: 100%;
	padding: 10px;
	font-size: 3em;
}

#text-content p{
	width: 100%;
	font-size: 1.2em;
}

#image-content{
	width: 100%;
	height: 65%;
}

#image-content img{
	width: 100%;
	object-fit: contain;

}

#right-container{
	gap: 20px 50px;
	width: 70%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	overflow-y: scroll;
	justify-content: center;
	background-color: #22222;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

#right-container::webkit-scrollbar{
	display: none;
}

.service-card{
	min-width: 225px;
	max-width: 225px;
	min-height: 282px;
	max-height: 282px;

	display: flex;
	flex-wrap: wrap;
	cursor: pointer;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	background-color: #272727;
}

.service-card:hover .service-card-text{
	opacity: 1;
	transform: translateY(-30%);
}


.service-card-image{
	width: 85%;
	height: 78%;
}

.service-card-image img{
	width: 100%;
	object-fit: contain;
	/*transform: translateY(20%);*/
}

.service-card-text{
	width: 90%;
	opacity: 0;
	height: 18%;
	color: #f6f6f6;
	transition: .4s;
	text-align: center;
	font-family: InsaniBC;
	transform: translateY(30%);
}


#service-heading{
	display: none;
}









































/* Media Queries */
@media screen and (max-width: 600px){

	#services{
		padding: 10px;
		flex-wrap: wrap;
		margin: 100px 0px;
		height: fit-content;
	}

	#left-container{
		display: none;
	}

	#right-container{
		width: 100%;
	}

	#services{
		margin: 40px 0px;
	}


	#service-heading{
		width: 85%;
		height: 50px;
		display: flex;
		color: whitesmoke;
		font-size: 1.3em;
		align-items: center;
		font-family: InsaniBC;
		justify-content: center;
	}
}





@media screen and (max-width: 500px){

	#right-container{
		height: fit-content;
		gap:  20px;
	}

	.service-card{
		min-width: 150px !important;
		max-width: 150px !important;

		min-height: 180px !important;
		max-height: 180px !important;

	}

	.service-card-text{
		font-size: .7em;
	}

	#services{
		margin: 40px 0px;
	}

}